body {
    padding: 20px;
    background-color: #2B81AC;
    margin: 0;
}

div {
    background-color: #3399CC;
    margin: 0;
    height: 900px;
   }

h1 {
    color: white;
    margin: 0;
}

.new {
    list-style-type: none;
    font-size: 0;
    width: 70vw;
    height: 50vw;
    background: #ffffff;
    border: 2px solid white;
    margin: 50px auto;
    padding-left: 0;
}

.city {
    display: inline-block;
    color: white;
    font-size: 24px;
    /*width: 25%;*/
    /*height: 25%;*/
    border: 2px solid white;
    box-sizing: border-box;
    background: red;
}

/*.city {*/
    /*!*width: auto;*!*/
/*}*/

.city1 {
    width: 50%;
    height: 25%;
    /*border-left: 4px solid white;*/
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #3399CC;
    }

.city2 {
    width: 25%;
    height: 25%;
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #33CCCC;
}

.city3 {
    width: 25%;
    height: 25%;
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #996699;
}

.city4 {
    width: 25%;
    height: 25%;
    /*border-left: 4px solid white;*/
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #C24747;
}

.city5 {
    width: 25%;
    height: 25%;
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #E2674A;
}

.city6 {
    width: 25%;
    height: 25%;
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #FFCC66;
}

.city7 {
    width: 25%;
    height: 25%;
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #93C393;
}

.city8 {
    width: 25%;
    height: 25%;
    /*border-left: 4px solid white;*/
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #669999;
}

.city9 {
    width: 50%;
    height: 25%;
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #CC6699;
}

.city10 {
    width: 25%;
    height: 25%;
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #339966;
}

.city11 {
    width: 100%;
    height: 25%;
    /*border-bottom: 4px solid white;*/
    /*border-left: 4px solid white;*/
    /*border-top: 4px solid white;*/
    /*border-right: 4px solid white;*/
    background: #666699;
}

ul:hover li {
    opacity: .5;
}

ul li:hover {
    opacity: 1;
}

h2 {
    color: white;
    margin: 0;
}

