body {
    background: #2363cc;
}
#weather-box {
    width: 50vw;
    height: 50vw;
    border: 2px solid white;
    background: #ffffff;
    margin: 100px auto;
    font-size: 0;
    padding-left: 0;
}

#weather-box li {
    display: inline-block;
    width: 25%;
    height: 25%;
    border: 2px solid white;
    box-sizing: border-box;
    background: #2363cc;
}

#weather-box li.double {
    width: 50%;
}

#weather-box li.full {
    width: 100%;
}
#weather-box:hover li {
    opacity: .5;
}
#weather-box li:hover {
    opacity: 1;
}
